*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container
{
	width:90%;
    margin:0 auto;
}
.row
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.col-1
{
	width:8.33%;
	padding:0 15px;
}
.col-2
{
	width:16.66%;
	padding:0 15px;
}
.col-3
{
	width:25%;
	padding:0 15px;
}
.col-4
{
	width:33.33%;
	padding:0 15px;
}
.col-5
{
	width:41.66%;
	padding:0 15px;
}
.col-6
{
	width:50%;
	padding:0 15px;
}
.col-7
{
	width:58%;
	padding:0 15px;
}
.col-8
{
	width:66.66%;
	padding:0 15px;
}
.col-9
{
	width:75%;
	padding:0 15px;
}
.col-10
{
	width:83.33%;
	padding:0 15px;
}
.col-11
{
	width:91.66%;
	padding:0 15px;
}
.col-12
{
	width:100%;
	padding:0 15px;
}
.banner
{
	background-image: url('images/about-bg.jpg');
	padding:40px 0;
	background-size:cover;
	background-position:center;
}
.about
{
	color:white;
}

.about h1
{
	padding-bottom:25px;
	font-weight:bold;
}
.about p
{
	padding-bottom:25px;
	font-style:italic;
}
.about ul li 
{
	list-style-type:none;
	font-weight:bold;
	font-weight:900px;
}
.about ul li i
{
	padding:5px;
	color:yellow;
}
.about ul li
{
padding-bottom:10px;
}	
 p.para
{
	padding-top:25px;
	line-height:20px;
}
.about-img img
{
width:100%;
	border:2px solid gray;
	transition:all 0.8s ease-in;
	
}
.about-img
{
	position:relative;
	overflow:hidden;
}
.about-img::after
{
	content:'';
	width:60px;
	height:50px;
	position:absolute;
	border-bottom:3px solid gold;
	border-right:3px solid gold;
	top:358px;
	right:22px;
	transition:all 0.8s ease;
	z-index:1;
}
.about-img::before
{
	content:'';
	width:60px;
	height:50px;
	position:absolute;
	border-top:3px solid gold;
	border-left:3px solid gold;
	top:16px;
	left:17px;
	transition:all 0.8s ease;
	z-index:1;
}
.about-img:hover::after
{
	
	bottom:10%;
	right:10%;
	z-index:1
}
.about-img:hover::before
{
	top:10%;
	left:10%;
	z-index:1
}
.about-img img:hover
{
	transform:scale(1.1);
	transition:all 0.8s ease-in;
}
	


